:root {
  --mainBlue: rgba(17, 15, 15, 0.89);
  --lightBlue: #4F9C87;
  --mainWhite: rgb(255, 255, 255);
  --mainDark: #4F9C87;
  --mainYellow: rgb(173, 12, 173);
}

/* #232528;mainDark */

body {
  font-family: 'Prompt', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Bree Serif', serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}